@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

ol, ul {
    list-style: none outside none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    /*background-color: rgb(255, 153, 153);*/
	background-color:#F99;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
#links {
    font-size: 30px;
    text-transform: uppercase;
}
#main {
    margin: 0 auto;
    max-width: 840px;
    padding: 80px 20px;
    color: #333;
    font-family: "proxima-nova-alt-1","proxima-nova-alt-2";
    font-weight:300;
}
#main img {
    padding-bottom: 40px;
	margin-top:80px;

}
#main h1 {
    font-family: "museo-sans-rounded-1","museo-sans-rounded-2";
    color: #333;
    font-size: 65px;
    font-weight:900;
    font-style:normal;
    margin-bottom:20px;



}

#about {
    margin-bottom: 20px;
}
#myprojects {

    margin-bottom: 40px;
	margin-top:10px;
    font-family: "proxima-nova-alt-1","proxima-nova-alt-2";
    font-style:normal;
    font-weight:700;
}

.stuff {
    font-size: 60%;

}
a {
    color: #99EAF0;
    transition: all 0.2s ease-in-out 0s;
}
a:hover {
    color: #343375;

}
#myprojects {
    color: #009999;
}

#myprojects a{
	color: #009999;
	text-decoration:none;
    margin-right: 10px;
    margin-left:10px;
    transition: all 0.2s ease-in-out 0s;

}

#myprojects a:hover {
    color:#333;
}


#letstalk a {

       text-decoration:none;
       color:#333;
       transition: all 0.2s ease-in-out 0s;
       font-size:24px;
       font-family: "proxima-nova-alt-1","proxima-nova-alt-2";
    font-style:normal;
    font-weight:700;


}

#letstalk a:hover {


}

.talk-container {
            display: block;
            position: relative;
            transition: all 0.2s ease-in-out 0s;

        }
        .email {
            bottom: 0;
            content:'brick.emily@gmail.com';
            display:none;

        }
        .talk-container:hover .email{
            display:block;
             color: #009999;

        }
        .talk-container:hover .talk{
            display:none;
        }
