<!-- Squiggle -->

<canvas class="squig" resize></canvas>

<script>
'use strict';
var _paper = paper;
var Path = _paper.Path;
var Point = _paper.Point;
var offset = 10;
var segments = 20;
var canvas = document.querySelector('.squig');
paper.setup(canvas);
var view = paper.view;
var path = new Path();
path.strokeColor = '#3D83E1';
path.strokeWidth = 2;
path.strokeCap = 'round';
for (var i = 0; i <= segments; i++) {
    var width = view.size.width - offset * 2;
    path.add(new Point(i / segments * width + offset, view.size.height / 2));
}
path.onFrame = function (e) {
    for (var i = 0; i <= segments; i++) {
        var height = view.size.height / 6;
        var sinus = Math.sin(e.time * 2 + i);
        path.segments[i].point.y = sinus * height + view.size.height / 2;
        path.smooth({ type: 'continuous' });
    }
};
paper.view.draw();
</script>