.post {

  h1 {
    font-size: 2.5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $sans-type;
    margin-bottom: $space-3;
    
    @include solid-breakpoint("lg") {
     margin: 0 6rem $space-3 6rem;
    }
  }

  p {
    font-size: $text-3;
    line-height: 1.5;
    margin-bottom: $space-3;

    @include solid-breakpoint("lg") {
      margin: 0 6rem $space-3 6rem;
    }
  }

  li {

    @include solid-breakpoint("lg") {
      margin: 0 6rem;
    }
  }


  img { 
    border-radius: $border-radius;
    margin: 0 0 $space-3;
  }

  .element-inset {

    @include solid-breakpoint("lg") {
      margin: 0 6rem;
    }
  }

}

// Back To Top Button
.back-to-top {
  position: fixed;
  padding: 1em;
  bottom: 3rem;
  right: 3rem;
  display: none;
  border: 3px solid #fff;

  & svg {
   position: relative;
   bottom: 1px;
  }
}
