.project-card {
  height: 250px;
  min-height: 250px;
  background-color: $fill-white;
  color: $text-blueberry;
}

.project-card--wip {

  .soon {
    display: none;
  }

  &:hover {
    background-color: $fill-blueberry;
    color: $text-white;

    .soon {
      display: block;
    }

    h2, a, p {
      display: none;
    }

  }
}

.eyes-emoji {
  font-size: 1.4em;
  padding: 4px;
  top: 4px;
  position: relative;
}


.header-wrapper {
  max-height: 300px;
  overflow: hidden;

  img {
    position: relative;
    min-width: 1000px;
    top: -300px;
    right: 75%;
    background-position: center center;
  }

  @include solid-breakpoint("sm") {
    img {
      right: 0;
    }
  }

  @include solid-breakpoint("lg") {
    max-height:425px;

    img {
      position: relative;
      width: 100%;
    }
  }

}


.wide-post {
  p {
    max-width: 46.875rem;
  }
}
