
// Background Fills
$fill-peach:     #FBE9DE;
$fill-gold:      #d4c512;
$fill-blueberry: #3D83E1;
$fill-pewter:    #AAAAAA;

// SVG Fills
$svg-fill-peach:     $fill-peach;
$svg-fill-pewter:    $fill-pewter;
$svg-fill-blueberry: $fill-blueberry;
$svg-fill-gold:      $fill-gold;

// Text Colors
$text-blueberry: $fill-blueberry;

// Link Colors
$link-blueberry: $fill-blueberry;
$link-gold: $fill-gold;


// Fonts: these are !important to override Solid's font-family: inherit property
$sans-type: "brandon-grotesque", "Trebuchet MS", Helvetica, sans-serif !important;
$slab-type: "adobe-garamond-pro", "Book Antiqua", Palatino, serif      !important;