@import "tailwindcss";

/* Add Jovie font-face */
@font-face {
  font-family: 'Jovie';
  src: url('./public/assets/fonts/Jovie.woff2') format('woff2'),
       url('./public/assets/fonts/Jovie.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add Jovie Bold font-face */
@font-face {
  font-family: 'Jovie';
  src: url('./public/assets/fonts/Jovie-Bold.woff2') format('woff2'),
       url('./public/assets/fonts/Jovie-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Add Jovie Bold Italic font-face */
@font-face {
  font-family: 'Jovie';
  src: url('./public/assets/fonts/Jovie-BoldItalic.woff2') format('woff2'),
       url('./public/assets/fonts/Jovie-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #4C4B4B;
  background-color: #F5E9DB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F5E9DB;
}

a {
  font-weight: 500;
  color: #42693B;
  text-decoration: inherit;
}
a:hover {
  color: #0d1920;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Jovie', serif;
  font-weight: normal;
}

h1 {
  font-family: 'Jovie', serif;
  font-size: 4em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jovie', serif;
  color: #ac5181;
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #192e3b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #192e3b;
  }
  button {
    background-color: #f9f9f9;
  }
}

.font-semibold {
  font-weight: bold;
  color: #42693B
}

.text-highlight {
  color: #D8AF9B;
}

.bg-color {
  background-color: #F5E9DB;
}

.text-link {
  color: #4949AD;
  font-weight: bold;
}